<ul class="list-group">
    <li *ngFor="let mensajes of mensajes"  class="list-group-item">
<h1>  {{ mensajes.id }} </h1>
        <h1>  {{ mensajes.title }} </h1>
<p>
{{ mensajes.body }}
</p>

</li>
</ul>