<body>

    <ul>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <div >
        <a routerLink={{ruta.path}} class="list-group-item"  *ngFor="let ruta of routas" >
            {{ ruta.name }}
        </a>
    </div >
    </ul>
</body>







